.button{
    height: 3rem;
    width: 9rem;
    border-radius: 1.5rem;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    cursor: pointer;
    margin: 0 2rem;
}