.sector-banner{
    background-color: black;
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    position: absolute;
    font-style: italic;
    transform-style: preserve-3d;
}
