.top-bar{
    width: 100%;
    background-color: var(--main-color);
    color:white;
    font-family:"formula1-wide";
    font-style: italic;
    font-weight: bolder;
    font-size:1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .app-name{
        padding: 2rem 4rem;
        width: 100%;
        max-width: 2000px;
    }
}
@media only screen and (max-width:1360px) {
    .top-bar{
        font-size: 1rem;
    }
    
}