.top-bar {
    width: 100%;
    background-color: var(--main-color);
    color: white;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .app-name {
        padding: 2rem 2rem;
        width: 50%;
        max-width: 2000px;
        font-family: "formula1-wide";
        font-style: italic;



    }

    .search-group-container {
        width: 50%;
        padding: 0rem 2rem;


        .search-group {
            width: 100%;
            position: relative;

            .search-bar {
                width: 100%;
            }

            .search-results {
                font-family: "formula1-regular", sans-serif;
                flex-grow: 1;
                position: absolute;
                background-color: white;
                z-index: 99;
                left: 0;
                bottom: 0;
                transform: translateY(100%);
                width: 100%;

                .result-list {
                    color: black;
                    width: 100%;
                    border: 2px solid black;

                    .result {
                        list-style: none;
                        height: 4rem;
                        display: flex;
                        align-items: center;

                        padding: 0 0.5rem;
                        cursor: pointer;

                        .country-flag-container {
                            height: 1.5rem;
                            width: 2rem;
                        }

                        .circuit-info {
                            display: flex;
                            flex-direction: column;
                            margin-left: 1rem;

                            .circuit-name {
                                font-size: 1.3rem;
                            }

                            .country-name {
                                font-size: 0.9rem;
                            }
                        }
                    }

                    .result:not(:last-of-type) {
                        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
                    }

                    .result:hover {
                        background-color: rgba(0, 0, 0, 0.1);
                    }

                }
            }
        }
    }
}

@media only screen and (max-width:1360px) {
    .top-bar {
        font-size: 0.9rem;

        .search-group-container {
            width: 60%;
        }
    }

}

@media only screen and (max-width:1000px) {
    .top-bar {
        flex-direction: column;
        padding-bottom: 1rem;

        .app-name {
            padding: 1.5rem 1.5rem;
            width: 100%;
            text-align: center;

        }

        .search-group-container {
            width: 100%;

            .search-group {
                .search-results {
                    .result-list {
                        .result {
                            .circuit-info {
                                .circuit-name {
                                    font-size: 1rem;
                                }

                                .country-name {
                                    font-size: 0.7rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

@media only screen and (max-width:500px) {
    .top-bar {
        .app-name {
            padding: 1rem 1rem;
            font-size: 0.7rem;
        }
    }
}