.track-container {
    width: 500px;
    height: 400px;
    perspective: 700px;
    background-color: white;
    overflow: hidden;
    position: relative;

    .drs-zone {
        position: absolute;
        opacity: 0.7;
        animation: DRS-land 3s;
        animation-fill-mode: forwards;

    }

    .track {
        position: absolute;
        scale: 0.7;
        animation-fill-mode: forwards;
        transform-style: preserve-3d;
        color: var(--track-color);
    }


}


@keyframes DRS-land {
    0% {
        opacity: 0;
        transform: translateZ(5px)
    }

    50% {
        opacity: 0;
        transform: translateZ(5px)
    }

    75% {
        opacity: 1;
        transform: translateZ(5px)
    }

    100% {
        opacity: 1;
        transform: translateZ(0)
    }
}