.track-container {
    width: 500px;
    height: 400px;
    perspective: 700px;
    background-color: white;
    overflow: hidden;
    position: relative;

    .drs {
        position: absolute;
        opacity: 0.7;
        animation: DRS-land 3s;
        animation-fill-mode: forwards;

    }

    .track {
        position: absolute;
        scale: 0.7;
        animation-fill-mode: forwards;
        transform-style: preserve-3d;
    }

    .--view-0-1 {
        transform-style: preserve-3d;
        animation: zero-to-one 2s;
        animation-fill-mode: forwards;
    }

    .--view-0-2 {
        transform-style: preserve-3d;
        animation: zero-to-two 2s;
        animation-fill-mode: forwards;
    }

    .--view-1-2 {
        transform-style: preserve-3d;
        animation: one-to-two 2s;
        animation-fill-mode: forwards;
    }

    .--view-2-0 {
        transform-style: preserve-3d;
        animation: two-to-zero 2s;
        animation-fill-mode: forwards;
    }

}


@keyframes DRS-land {
    0% {
        opacity: 0;
        transform: translateZ(5px)
    }

    50% {
        opacity: 0;
        transform: translateZ(5px)
    }

    75% {
        opacity: 1;
        transform: translateZ(5px)
    }

    100% {
        opacity: 1;
        transform: translateZ(0)
    }
}